{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Sign up{% endblock title %} | I Want Better Food</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="I Want Better Food" />
        <meta property="og:type" content="cause" />
        <meta property="og:url" content="http://www.iwantbetterfood.com/" />
        <meta property="og:image" content="http://www.iwantbetterfood.com/{% static "images/IWANTBETTERFOOD_LOGO_OG.png" %}" />
        <meta property="og:site_name" content="I Want Better Food" />
        <meta property="og:description" content="If we want better food, we have to ask for it. Add your marker to this collaborative map and let companies know you'll support them doing better." />
        <meta property="fb:admins" content="573487029" />

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "css/iwbf.css" %}" type="text/css">
        
        <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}"  />

    </head>
    <body id={% block body_id %}{% endblock body_id %}>
 
        <header id="header">
        <div class="row-fluid">
            <div class="span5">
              <div style="background:url('{% static "images/iwbf_logo_new.png" %}');
              background-repeat: none;
              background-position: center left;
              display: block;
              width: 566px;
              height: 59px;
              ">
              </div> 
            </div>
            <div class="span7">
                <div class="pull-right" style="padding-right: 0px;">
                 <span class='st_sharethis_vcount' displayText='ShareThis'></span>
                  <span class='st_facebook_vcount' displayText='Facebook'></span>
                  <span class='st_twitter_vcount' displayText='Tweet'></span>
                  <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                  <span class='st_googleplus_vcount' displayText='Google +'></span>
                  <span class='st_pinterest_vcount' displayText='Pinterest'></span>
                </div>
            </div>
        </div>
        </header>
 
        <section id="wrapper">
            <section id="map" class="grayscale"></section>
            <section id="content" class="box"></section>
            <section id="infobox" class="box"></section>
        </section>
        <footer class="navbar navbar-fixed-bottom">
            Sponsors 
            <a href="http://foodtrade.com" target="_blank"><img src="{% static "images/foodtrade.png" %}" alt="FoodTrade" /></a>
            <a href="http://www.geovation.org.uk/" target="_blank"><img  src="{% static "images/geovation.png" %}" alt="Geovation" /></a>
            <a href="http://buckybox.com" target="_blank"><img src="{% static "images/buckybox.png" %}"  alt="BuckyBox" /></a>
            <a href="http://sustainablefoodtrust.org" target="_blank"><img src="{% static "images/sft.png" %}"  alt="Sustinable Food Trust" /></a>
            
            
            <nav id="menu" class="pull-right">
                <ul style="list-style: none;">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/privacy/">Privacy</a></li> 
                </ul>
            </nav>
            
        </footer>
 

        <script id="postcodeForm" type="text/template">
         <article>
         
        
        <table class="table" style="margin:0;" >
            <tr>
            <td style="background: #000; color: #fff; border-bottom: 3px solid white;" colspan="2">
              <h1 style="margin:; text-align: center; font-weight: normal; font-size: 34px; line-height: 1;">If we want better food,<br />we have to ask for it.</h1> 
            </td>
            </tr>
          <tr>
            <td style="background: #EA7D31; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#1</h2>
            </td>
            <td style="background: #EA7D31; color: #fff;border-bottom: 2px solid white;  ">
              <h2>Tell us what you want<i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i></h2> 
            </td>
            </tr>
            <tr>
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#2</h2>
            </td> 
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
                          <h2>we’ll map your wishes<i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i></h2>

            </td>
            </tr>
            <tr> 
            
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#3</h2>
            </td>
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
                          <h2><i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                          
                          and use it to show food companies the opportunity they're missing.</h2>
          </td>
          </tr>
          <tr>
            <td colspan="2" style="background: #66B330; color: #fff;border: 1px solid white; text-align: center;">
             <form class="form form-horizontal">
        
          <label for="postcode">
          <h2>
          So let's get started.</h2>
          <h2 style="color: #fff; margin-top: 10px;">What's your postcode?</h2>
          </label>
          <input type="postcode" class="postcode" name="postcode" id="postcode"  placeholder="Postcode" onmouseup="javacript:$(this).addClass('caps');">   
          <button type=submit class="btn btn-inverse btn-large">Find </button>
        </form> 
            </td>
          </tr>
          
        </table>
         
       
        
          <p style="margin:0;"><span class="label label-warning">NB</span> We will never reveal your details. <a href="#" >More &raquo;</a> </p>
        </article>
        </script>

        <script id="postcodeView" type="text/template">
     
        <article>
       
      <form class="form form-horizontal">
            
                
        <table class="table" style="margin:0;" >
            <tr>
            <td style="background: #000; color: #fff; border-bottom: 3px solid white; padding-bottom: 1px;" >
              <h1 style="margin: 5px 0 0 0; text-align: center; font-weight: normal;">I'd like...</h1> 
            </td>
            </tr>
            
            
            
       <tr>
              <td style="background: #E26220; color: #fff;border-bottom: 1px solid #E68D66; padding: 8px 5px 0px 5px;">
              
            <h2 style="font-size:18px;color: rgba(255,255,255,0.85);">
                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                WHAT I WANT TO EAT</h2> 
              </td>
            </tr>
             
            <tr> 
            <td style="background: #E26220; color: #fff;border-bottom: 2px solid white;">
            <label class="checkbox pop list_options"  data-toggle="tooltip" title="as local as possible, anyway! #coffee"><input type="checkbox" id="local_food" name="local_food">Locally produced</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="in stock when it’s in season"><input type="checkbox" id="seasonal_food" name="seasonal_food">Seasonal / fresh</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="no pesticides, great animal welfare"><input type="checkbox" id="organic_food" name="organic_food">Organic</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="more cultural variety to suit my palette"><input type="checkbox" id="ethnic_food" name="ethnic_food">International / ethnic</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="and horseburgers, be damned!"><input type="checkbox" id="cheaper_food" name="cheaper_food">Cheaper food</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="names you know, products you're used to"><input type="checkbox" id="branded_food" name="branded_food">Branded produce</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="od food, quickly (low salt, low fat, no preservatives..)"><input type="checkbox" id="healthy_ready_meals" name="healthy_ready_meals">Healthy ready meals</label>

              </td> 
           </tr>
             
            
            <tr> 
              <td style="background: #E54137; color: #fff;border-bottom: 1px solid #E87774; padding: 8px 5px 0px 5px;"> 
                 <h2 style="font-size:18px;color: rgba(255,255,255,0.85);">

                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                WHAT I NEED</h2> 
 
              </td>
            </tr>
            
            
            <tr> 
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
             
<label class="checkbox pop list_options"  data-toggle="tooltip" title="food delivered to your door"><input type="checkbox" id="home_delivery" name="home_delivery">Home / evening delivery</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="shops that are open when you can shop"><input type="checkbox" id="longer_opening" name="longer_opening">Longer opening hours </label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="ways to cut down at home, less waste elsewhere"><input type="checkbox" id="reduced_waste" name="reduced_waste">Reduced food waste</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="Returnable or low-volume, or bring my own bag"><input type="checkbox" id="less_packaging" name="less_packaging">Less Packaging</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="Or any other place of work where food is provided"><input type="checkbox" id="work_food" name="work_food">Better food at work / school</label>

            </td>
            </tr>
            
                 
            <tr> 
           <td style="background: #A2001A; color: #fff;border-bottom: 1px solid #B84F61; padding: 8px 5px 0px 5px;">
                <h2 style="font-size:18px;color: rgba(255,255,255,0.85);">
                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                HOW I WANT TO GET IT</h2> 
              </td>
            </tr>
            
          <tr>
            
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
           
<label class="checkbox pop list_options"  data-toggle="tooltip" title="a small company, where profits are kept locally"><input type="checkbox" id="independent_biz" name="independent_biz">Independent business</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="home delivery, directly from the producers or their representatives"><input type="checkbox" id="veg_box" name="veg_box">Veg-box  / Meat-box / Recipe-box</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="buy in bulk for better deals"><input type="checkbox" id="group_buying" name="group_buying">Group buying</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="investing in local food"><input type="checkbox" id="csa" name="csa">Community Supported Agriculture (CSA)</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="Convenient!"><input type="checkbox" id="supermarkets" name="supermarkets">Supermarkets</label>
<label class="checkbox pop list_options"  data-toggle="tooltip" title="Because that's what my budget means :("><input type="checkbox" id="food_bank" name="food_bank">Food bank</label>

  
            </td>
            </tr>
            
            
           
           
           
           
            <tr>
            <td style="background: #66B330; color: #fff;border: 1px solid white; text-align: center;">
            
                <label for="email"><input type=email name=email id=email value="" placeholder="Email" style="width:90%;"></label>                             
              

               <button type="submit" class="btn btn-inverse btn-large">Add my voice</button>    
            </td>
          </tr>
          
        </table>
 
              
            </form>
        </article>
        </script>

        <script id="infoboxView" type="text/template">
          <article> 
            
          <h2 style="margin: 5px 0 0 0; text-align: center; font-weight: normal; font-size: 20px; color: #444;">The story so far&hellip;</h2> 
          <p style="line-height: 1.2; color: #666;">Here's what others like you from across the UK would like:</p>
                
         <table class="table table-condensed" style="margin:0;" >
                                  
              
          <tr>
            <td class="eat_1 number"><%= info.local_food %></td><td class="eat">Locally produced</td></tr><tr>
            <td class="eat_1 number"><%= info.seasonal_food %></td><td class="eat">Seasonal</td></tr><tr>
            <td class="eat_1 number"><%= info.organic_food %></td><td class="eat">Organic </td></tr><tr>
            <td class="eat_1 number"><%= info.ethnic_food %></td><td class="eat">Ethnic / international</td></tr><tr>
            <td class="eat_1 number"><%= info.cheaper_food %></td><td class="eat">Cheaper</td></tr><tr>
            <td class="eat_1 number"><%= info.branded_food %></td><td class="eat">Branded</td></tr><tr>
            <td class="eat_1 number"><%= info.healthy_ready_meals %></td><td class="eat">Healthy ready-meals</td></tr>
          </tr>
               
                                
          <tr>
            <td class="what_1 number"><%= info.home_delivery %></td><td class="what">Evening / Home delivery</td></tr><tr>
            <td class="what_1 number"><%= info.longer_opening %></td><td class="what">Longer opening</td></tr><tr>
            <td class="what_1 number"><%= info.reduced_waste %></td><td class="what">Reduced food waste</td></tr><tr>
            <td class="what_1 number"><%= info.less_packaging %></td><td class="what">Less packaging</td></tr><tr>
            <td class="what_1 number"><%= info.work_food %></td><td class="what" style="border-bottom: 1px solid #fff;">Better food at work</td> </tr>
          </tr>     
          
            <tr>
            <td class="how_1 number">
               <%= info.independent_biz %>              
            </td>  
            <td class="how">
               Independent business
            </td>
          </tr>                
                                    
          <tr>
            <td class="how_1 number">
               <%= info.veg_box %>               
            </td>  
            <td class="how">
               Veg-box etc
            </td>
          </tr>                
                                    
          <tr>
            <td class="how_1 number">
               <%= info.group_buying %>              
            </td>  
            <td class="how">
               Group buying
            </td>
          </tr>    
                            
          <tr>
            <td class="how_1 number">
               <%= info.csa %>             
            </td>  
            <td class="how">
               CSA
            </td>
          </tr>           
                                     
          <tr>
            <td class="how_1 number">
               <%= info.supermarkets %>              
            </td>  
            <td class="how">
               Supermarkets
            </td>
          </tr>       
                                    
          <tr>
            <td class="how_1 number" >
               <%= info.food_bank %> 
            </td>  
            <td class="how" style="border-bottom: 1px solid #fff;">
               Food Bank
            </td>
          </tr>  
          
          <tr>
            <td style="background: #66B330; color: rgba(255,255,255,0.8);border: 1px solid white; text-align: center; text-transform: none; line-height: 1.2;" colspan="2">
              <p>We'll add more detail and county comparisons when we reach 800 people!</p>            
            </td>
          </tr>                            
          </table> 
 
             
            
        </article>
        </script>
        
        <script id="thankyouView" type="text/template">
        <article>
                    
        <table class="table" style="margin:0;" >
            <tr>
            <td colspan="2" style="background: #000; color: #fff; border-bottom: 3px solid white; padding-bottom: 1px;" >
              <h1 style="margin: 5px 0 0 0; text-align: center; font-weight: normal;">Thank you!</h1> 
            </td>
            </tr>
            
                   
          <tr>
            
            <td colspan="2" style="background: #E26220; color: #fff;border-bottom: 2px solid white;">
            
              <h2 style="text-align: center;">So, what next?</h2>
              <p>This is early days for this project, so please be patient whilst we build up steam. We'll add 'heatmaps' to make it more interesting, and make it more useful by showing you relevant companies near you. For now, thank you, and here are some other ways to help. </p>
            </td>
          </td>
</tr>
          <tr>          
           <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#1</h2>
           </td>
           <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  "> 
              <h2>Help spread this campaign!</h2>
              <p style="color: rgba(255,255,255,0.8);">More people = quicker, so please help spread the word by sharing this with your friends - there are links to help you at the top right of the page. </p>
            </td>
            </tr>
            <tr> 
             <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
              <h2>#2</h2>
              </td>
             <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
                <h2>Your wallet holds change</h2>
                <p style="color: rgba(255,255,255,0.8);">Put your money where your mouth is and buy from good businesses, even if it is a little more effort Why? Well, as they say, 'every little helps'. But money spent on good food from local independent businesses <a href="http://www.yesmagazine.org/issues/go-local/the-local-multiplier-effect" target="_blank">goes even further</a>. They typically spend with other local independent businesses, creating livelihoods and a thriving society, right where you live.  </p>
              </td>            
            </tr> 
            
            <tr> 
             <td style="background: #2C001F; color: #fff;border-bottom: 2px solid white;  ">
              <h2>#3</h2>
              </td>
             <td style="background: #2C001F; color: #fff;border-bottom: 2px solid white;  ">
                <h2>Check out our supporters</h2>
                <p style="color: rgba(255,255,255,0.8);">They are all great people doing great things. And they made this possible, too, so they must be great. </p>
              </td>            
            </tr> 
             
          </table> 
 
        
        </article>
        </script>

        <script id="shareView" type="text/template">
        <header>
            <h1>Please spread the word!</h1>
        </header>
        <article>
          <span class='st_sharethis_vcount' displayText='ShareThis'></span>
          <span class='st_facebook_vcount' displayText='Facebook'></span>
          <span class='st_twitter_vcount' displayText='Tweet'></span>
          <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
          <span class='st_googleplus_vcount' displayText='Google +'></span>
          <span class='st_pinterest_vcount' displayText='Pinterest'></span>
          <span class='st_email_vcount' displayText='Email'></span>
        </article>
        </script>

        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3315919-36']);
          _gaq.push(['_setDomainName', 'iwantbetterfood.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        
        
        <script id="aboutView" type="text/template">     
          <article>
         
          <p>
          <b>
          Sometimes, the food you want can be difficult to get.
          </b> 
          </p><p> 
          We want to help your local food businesses know what you want, 
          so they can get more of it to you, more easily, more of the time. 
          </p><p> 
          We’re starting by asking you about where you are and what you 
          want. The more demand we get mapped, the more likely it is that
          food businesses will respond when we connect with them.
          </p><p> 
          As we grow, we’ll add helpful features, like showing you where you can
          buy better food, helping you support local food startups and building food 
          groups for cheaper shopping. For now, though, no promises (apart from 
          that we'll not share your email address with anyone). 
          </p><p> 
          Iwantbetterfood.com is a project from <a href="http://www.sustaination.co" target="_blank">Sustaination</a>. We work with 
          food businesses to help them source more locally and trade together 
          more effectively. You can learn more about us on our website. 
          (Summary: we're nice people doing good stuff in a sensible and open way.)
          </p><p> 
          If you'd like us to do more, please share this with your friends. (If not, we'll
          just keep working away at <a href="http://www.sustaination.co" target="_blank">Sustaination</a>.)
          </p><p> 
          <b>
          Thank you.</b>
          </p>

          </article>
        </script>
        
                 
 
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" /> 
        <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" /><![endif]-->
        <script data-main="{% static "js/main" %}" src="{% static "js/require-jquery.js" %}"></script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "79f78eff-58ae-4146-9a40-dfa91e5bc915", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        

    </body>
</html>