{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{% block title %}Sign up{% endblock title %} | I Want Better Food</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="I Want Better Food" />
        <meta property="og:type" content="cause" />
        <meta property="og:url" content="http://iwantbetterfood.com/" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="I Want Better Food" />
        <meta property="fb:admins" content="573487029" />

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "css/iwbf.css" %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
        {# <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen"> #}
      
    </head>
    <body id={% block body_id %}{% endblock body_id %}>
        <header id="header">
            <img src="{% static "images/iwbf_logo.png" %}" alt="I Want Better Food" />
            <nav id="menu">
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </nav>
        </header>

        <section id="map" class="grayscale"></section>
        <section id="content" class="box"></section>
        <section id="infobox" class="box"></section>

        <script id="postcodeForm" type="text/template">
         <article>
         
        
        <table class="table" style="margin:0;" >
            <tr>
            <td style="background: #000; color: #fff; border-bottom: 3px solid white;" colspan="2">
              <h1 style="margin:; text-align: center; font-weight: normal; font-size: 34px; line-height: 1;">If we want better food,<br />we have to ask for it.</h1> 
            </td>
            </tr>
          <tr>
            <td style="background: #EA7D31; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#1</h2>
            </td>
            <td style="background: #EA7D31; color: #fff;border-bottom: 2px solid white;  ">
              <h2>Tell us what you want<i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i></h2> 
            </td>
            </tr>
            <tr>
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#2</h2>
            </td> 
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
                          <h2>we’ll map your wishes<i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i></h2>

            </td>
            </tr>
            <tr> 
            
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
            <h2>#3</h2>
            </td>
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
                          <h2><i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                          
                          and use it to show food companies the opportunity they're missing.</h2>
          </td>
          </tr>
          <tr>
            <td colspan="2" style="background: #66B330; color: #fff;border: 1px solid white; text-align: center;">
             <form class="form form-horizontal">
        
          <label for="postcode">
          <h2>
          So let's get started.</h2>
          <h2 style="color: #fff; margin-top: 10px;">What's your postcode?</h2>
          </label>
          <input type="postcode" class="span2" name="postcode" id="postcode"  placeholder="Your postcode…">  
          <button type=submit class="btn btn-inverse">Find <i class="icon-circle-arrow-right icon-large muted"></i></button>
        </form> 
            </td>
          </tr>
          
        </table>
         
       
        
          <p style="margin:0;"><span class="label label-warning">NB</span> We will never reveal your personal details. <a href="#" >More &raquo;</a> </p>
        </article>
        </script>

        <script id="postcodeView" type="text/template">
     
        <article>
       
      <form class="form form-horizontal">
            
                
        <table class="table" style="margin:0;" >
            <tr>
            <td style="background: #000; color: #fff; border-bottom: 3px solid white; padding-bottom: 1px;" >
              <h1 style="margin: 5px 0 0 0; text-align: center; font-weight: normal;">Would you like more...?</h1> 
            </td>
            </tr>
            
            <tr> 
              <td style="background: #E26220; color: #fff;border-bottom: 1px solid #E68D66; padding: 8px 5px 0px 5px;">
                <h2 style="font-size:18px;color: rgba(255,255,255,0.7);">
                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                HOW WE BUY</h2> 
              </td>
            </tr>
            
          <tr>
            
            <td style="background: #E26220; color: #fff;border-bottom: 2px solid white;">
    
    <label class="checkbox list_options" title="from a small company, owned by itself" 
    data-toggle="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">
    
    
      <input type="checkbox" id="local_food" name="local_food">Independent business
      <span class="help help-block">from a small company, owned by itself</span>
       
      
    </label>
    <label class="checkbox list_options">
      <input type="checkbox" id="local_food" name="local_food">Home / evening delivery
      <span class="help help-block">have food delivered to your door</span> 
    </label>
    <label class="checkbox list_options">
      <input type="checkbox" id="local_food" name="local_food">Local Food
      <span class="help help-block">small company, owned by itself</span>
    </label>

    <label class="checkbox list_options">
      <input type="checkbox" id="local_food" name="local_food">Local Food
      <span class="help help-block">small company, owned by itself</span>
    </label>

    <label class="checkbox list_options">
      <input type="checkbox" id="local_food" name="local_food">Local Food
      <span class="help help-block">small company, owned by itself</span>
    </label>

    <label class="checkbox list_options">
      <input type="checkbox" id="local_food" name="local_food">Local Food
      <span class="help help-block">small company, owned by itself</span>
    </label>
              
            </td>
            </tr>
            
            <tr> 
              <td style="background: #E54137; color: #fff;border-bottom: 1px solid #E87774; padding: 8px 5px 0px 5px;"> 
                 <h2 style="font-size:18px;color: rgba(255,255,255,0.7);">

                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                WHAT WE BUY</h2> 

                
              </td>
            </tr>
            
            
            <tr> 
            <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  ">
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>

            </td>
            </tr>
           
           <tr>
           <td style="background: #A2001A; color: #fff;border-bottom: 1px solid #B84F61; padding: 8px 5px 0px 5px;">
            <h2 style="font-size:18px;color: rgba(255,255,255,0.7);">
                <i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i>
                WHAT I WANT TO EAT</h2> 
              </td>
            </tr>
            
            
            <tr> 
            <td style="background: #A2001A; color: #fff;border-bottom: 2px solid white;  ">
              <label class="checkbox list_options"><input type="checkbox" id="local_food" name="local_food">Local Food</label>
              </td> 
           </tr>
           
           
            <tr>
            <td style="background: #66B330; color: #fff;border: 1px solid white; text-align: center;">
                <label for="email"><input type=email name=email id=email value="" placeholder="Email"></label>             
                <label for="name"><input type=text name=name id=name value="" placeholder="Your name (optional)"></label>
               <button type="submit" class="btn btn-inverse btn-large">Add my voice</button>    
            </td>
          </tr>
          
        </table>
 
              
            </form>
        </article>
        </script>

        <script id="infoboxView" type="text/template">
          <article> 
            
                <h2 style="margin: 5px 0 0 0; text-align: center; font-weight: normal; font-size: 20px; color: #444;">The story so far&hellip;</h2> 
                
           <table class="table table-condensed" style="margin:0;" >
                                  
          <tr>
            <td class="how_1 number">
               <%= info.local_food %>              
            </td>  
            <td class="how">
               Locally sourced
            </td>
          </tr>                
                                    
          <tr>
            <td class="how_1 number">
               <%= info.local_food %>              
            </td>  
            <td class="how">
               Locally sourced
            </td>
          </tr>                
                                    
          <tr>
            <td class="how_1 number">
               <%= info.local_food %>              
            </td>  
            <td class="how">
               Locally sourced
            </td>
          </tr>                
           
          <tr>          
          <td colspan="2" style="background: #E54137; color: #fff;border-bottom: 2px solid white;  "> 
            
            </td>
            </tr>
            <tr> 
            
            <td colspan="2" style="background: #66B330; color: #fff;border-bottom: 2px solid white;  ">
              sdf
            </td>
            </tr> 
          </table> 
 

            
            
            
            
            
        </article>
        </script>
        
        <script id="thankyouView" type="text/template">
        <article>
                    
        <table class="table" style="margin:0;" >
            <tr>
            <td style="background: #000; color: #fff; border-bottom: 3px solid white; padding-bottom: 1px;" >
              <h1 style="margin: 5px 0 0 0; text-align: center; font-weight: normal;">Thank you!</h1> 
            </td>
            </tr>
            
                       
          <tr>
            
            <td style="background: #E26220; color: #fff;border-bottom: 2px solid white;">
            
              <h2 style="text-align: center;">More people = quicker change.</h2>
            </td>
          </td>
</tr>
          <tr>          
          <td style="background: #E54137; color: #fff;border-bottom: 2px solid white;  "> 
            <h2>So please be wonderful and share this with your friends?<i class="icon-circle-arrow-down pull-right" style="color: rgba(255,255,255,0.4);"></i></h2>

            </td>
            </tr>
            <tr> 
            
            <td style="background: #66B330; color: #fff;border-bottom: 2px solid white;  ">
              sdf
            </td>
            </tr> 
          </table> 
 
        
        </article>
        </script>

        <script id="shareView" type="text/template">
        <header>
            <h1>Now share the crap out of it</h1>
        </header>
        <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </article>
        </script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36053724-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        
        
        
        <footer>
            Sponsors 
            <a href="http://buckybox.com" target="_blank"><img src="{% static "images/buckybox.png" %}"  alt="BuckyBox" /></a>
            

            <a href="http://foodtrade.com" target="_blank"><img src="{% static "images/foodtrade.png" %}" alt="FoodTrade" /></a>
            
            <a href="http://www.geovation.org.uk/" target="_blank"><img  src="{% static "images/geovation.png" %}" alt="Geovation" /></a>
        </footer>

        
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" /> 
        <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" /><![endif]-->
        <script data-main="{% static "js/main" %}" src="{% static "js/require-jquery.js" %}"></script>
    </body>
</html>