<p><b>I Want Better Food.com Privacy Policy</b></p>
<ul>
<li><span style="font-size: 16px;">Introduction</span></li>
<li><span style="font-size: 16px;">Information we may collect from you</span></li>
<li><span style="font-size: 16px;">Uses made of your information</span></li>
<li><span style="font-size: 16px;">Additional information</span></li>
<li><span style="font-size: 16px;">Cookies and similar technology</span></li>
<li><span style="font-size: 16px;">Information sharing</span></li>
<li><span style="font-size: 16px;">External links</span></li>
<li><span style="font-size: 16px;">Security</span></li>
<li><span style="font-size: 16px;">Data storage and international transfers</span></li>
<li><span style="font-size: 16px;">Your rights</span></li>
<li><span style="font-size: 16px;">Contacting us</span></li>
</ul>
<h3><strong>Introduction</strong></h3>
<p>This is the privacy and cookies policy for our website at <a href="http://www.iwantbetterfood.com">www.iwantbetterfood.com</a></p>
<p>The website is operated and provided by Sustaination Limited<i> </i>(<b>we</b>, <b>us</b> and <b>our</b>). We are a limited company, registered in England. Our registered company number is 07906283, and our registered office is at Farthing Corner, Dean Road, West Tytherley, Salisbury, SP5 1NR. Our VAT registration number is 143068331. For the purposes of the Data Protection Act 1998, we are the data controller.</p>
<p>We are committed to protecting your privacy on-line. We appreciate that you do not want the personal information you provide to us distributed indiscriminately and here we explain how we collect information, what we do with it and what controls you have.</p>
<p>By using the website, you consent to the collection and use of information in accordance with this privacy policy.</p>
<p>We reserve the right to change this privacy policy from time to time by changing it on the website. This privacy policy was last updated on 17 January 2013.</p>
<p><strong>Information we may collect from you</strong></p>
<p>We may collect and process the following personal information about you:</p>
<ul>
<li>information (such as your email address and post code) that you provide by completing forms on the website, including if you subscribe to any newsletters, upload or submit any material via the website or request any information;</li>
<li><span style="font-size: 16px;">details of any transactions made by you through the website for example in connection with any supplier requests;</span></li>
<li>communications you send to us, for example to report a problem or to submit queries, concerns or comments regarding the website or its content;</li>
<li>information from surveys, promotions and competitions that we may, from time to time, run on the website, if you choose to respond to, or participate in, them;</li>
<li>information relating to your location.</li>
</ul>
<p>You are under no obligation to provide any such information. However, if you should choose to withhold requested information, we may not be able to provide you with certain services.</p>
<p><strong><span style="font-size: 16px;">Uses made of your information</span></strong></p>
<p>We will use the personal information you provide to:</p>
<ul>
<li>enable us to provide you with the services and information offered through the website and which you request;</li>
<li><span style="font-size: 16px;">analyse the use of the website and the people visiting in order to improve our content and services including research into our users’ demographics;</span></li>
<li>to provide anonymous aggregate core statistical data to other users of the website. We will not provide any users of the website with data which can personally identify you.</li>
<li><span style="font-size: 16px;">send you information we think you may find useful or which you have requested from us, including receipt of marketing communications such as our periodic newsletter provided you have indicated that you are happy to be contacted for these purposes.</span></li>
</ul>
<p>You can tell us not to contact you with information regarding our services either at the point such information is collected on the website (by checking or un-checking (as directed) the relevant box) or, where you do not wish us to continue to use your information in this way, by following the unsubscribe instructions on any communications sent to you. You can also exercise this right at any time by contacting us using the contacting us details at the end of this privacy policy.</p>
<p><strong>Additional information</strong></p>
<p>When you visit the website, we may automatically collect additional information about you, such as the type of internet browser you use, any website from which you have come to the website and your IP address (the unique address which identifies your device on the internet) and your operating system, which are automatically recognised by our web server. You cannot be identified from this information and it is only used to assist us in providing an effective service on the website and to collect broad demographic information for aggregate use.</p>
<p><strong><span style="font-size: 16px;">Cookies and similar technology</span></strong></p>
<p><span style="font-size: 16px;">The website also uses cookies or similar technology to collect information about your access to the website.</span></p>
<p><span style="font-size: 16px;">Cookies are pieces of information that include a unique reference code that a website transfers to your device to store and sometimes track information about you.  A number of cookies we use last only for the duration of your web session and expire when you close your browser. Other cookies are used to remember you when you return to the website and will last for longer.</span></p>
<p>We use cookies to:</p>
<ul>
<li>remember that you have used the website before &#8211; this means we can identify the number of unique visitors we receive and allows us to make sure that we have enough capacity for the number of users we get;</li>
<li><span style="font-size: 16px;">allow you to navigate the website more quickly and easily;</span></li>
<li><span style="font-size: 16px;">remember your user session so you can move from one page to another within the website;</span></li>
<li><span style="font-size: 16px;">store your preferences;</span></li>
<li><span style="font-size: 16px;">customise elements of the layout and/or content of the pages of the website for you;</span></li>
<li><span style="font-size: 16px;">collect statistical information about how you use the website so that we can improve the website;</span></li>
<li><span style="font-size: 16px;">audit the downloading of data from the website.</span></li>
</ul>
<p>Most computer and some mobile web browsers automatically accept cookies but, if you prefer, you can change your browser to prevent that or to notify you each time a cookie is set.  You can also learn more about cookies by visiting <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a> which includes additional useful information  on cookies and how to block cookies using different types of browser . Please note however, that by blocking or deleting cookies you may not be able to take full advantage of the website.</p>
<p><strong><i>Our cookies</i></strong></p>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top"><b>Cookie name</b></td>
<td valign="top"><b>Purpose</b></td>
<td valign="top"><b>More information </b></td>
</tr>
<tr>
<td valign="top">[insert cookie name]</td>
<td valign="top">[insert purpose(s) of cookie]</td>
<td valign="top">[session/persistent]</p>
<p>[insert duration]</td>
</tr>
<tr>
<td valign="top">[insert cookie name]</td>
<td valign="top">[insert purpose(s) of cookie]</td>
<td valign="top">[session/persistent]</p>
<p>[insert duration]</td>
</tr>
</tbody>
</table>
<p><strong><span style="font-size: 16px;">Information sharing</span></strong></p>
<p>We may disclose aggregate statistics about visitors to the website, in order to describe our services to prospective partners, advertisers, sponsors and other reputable third parties and for other lawful purposes, but these statistics will include no personally identifiable information.</p>
<p>We may disclose your personal information to any of our affiliates, or to our agents or contractors who assist us in providing the services we offer through the website, processing transactions, fulfilling requests for information, receiving and sending communications, updating marketing lists, analysing data, providing support services or in other tasks from time to time. Our agents and contractors will only use your information to the extent necessary to perform their functions.</p>
<p>In the event that we undergo re-organisation or are sold to a third party, you agree that any personal information we hold about you may be transferred to that re-organised entity or third party.</p>
<p>We may disclose your personal information if required to do so by law or if we believe that such action is necessary to prevent fraud or cyber crime or to protect the website or the rights, property or personal safety of any person.</p>
<p><strong>External links</strong></p>
<p>The website may, from time to time, contain links to external sites. We are not responsible for the privacy policies or the content of such sites.</p>
<p><strong>Security</strong></p>
<p>The security of all personally identifiable information associated with our users is important to us. We have appropriate security measures in place to attempt to protect against the loss, misuse and alteration of personal information under our control. For example, our security and privacy policies are periodically reviewed and enhanced as necessary and only authorised personnel have access to personal information. Whilst we cannot ensure or guarantee that loss, misuse or alteration of information will never occur, we use all reasonable efforts to prevent it.</p>
<p>You should bear in mind that submission of information over the internet is never entirely secure. We cannot guarantee the security of information you submit via the website whilst it is in transit over the internet and any such submission is at your own risk.</p>
<p><span style="font-size: 16px;">It is advisable to log-out of all services and close your browser when you have finished your user session to help ensure others do not access your personal information if you use a shared computer or a computer in a public place.</span></p>
<p><strong>Data storage and international transfers</strong></p>
<p>Information that you submit via the website may be transferred to countries outside the European Economic Area (“EEA”).  By way of example, this may happen if one or more of our servers are from time to time located in a country outside the EEA or one of our service providers is located in a country outside the EEA.  If you make contact with any business featured on the website your details may be transferred outside the EEA. If we transfer your information outside the EEA in this way, we will take steps to ensure that your privacy rights continue to be protected.  By submitting information via the website, you agree to this storing, processing and transfer.</p>
<p><span style="font-size: 16px;">In addition, if you use our services while you are outside the EEA, your information may be transferred outside the EEA in order to provide you with those services.</span></p>
<p><strong>Your rights</strong></p>
<p>You have a legal right under the Data Protection Act 1998 to a copy of all the personal information about you held by us. On request, we will provide you with a copy of this information subject to a fee not exceeding the prescribed fee permitted by law. You also have a right to correct any errors in that information. As mentioned above, you have a right to prevent the use of your personal information for direct marketing purposes.</p>
<p><strong>Contacting us</strong></p>
<p>Please submit any questions, concerns or comments you have about this privacy policy or any requests concerning your personal data to one of the following:</p>
<ul>
<li>via our website;</li>
<li>by email to <a href="mailto:hello@sustaination.co">hello@sustaination.co</a>;</li>
<li>write to us at Sustaination Ltd, Farthing Corner, Dean Road, West Tytherley, Salisbury, SP5 1NR.</li>
</ul>