{% extends "base.html" %}
{% block body_id %}home{% endblock body_id %}
{% block content %}
    <h1>
        Want better food?
    </h1>
    <form method=post class="form form-horizontal" id="postcode_form">
        {% csrf_token %}
        {{ form.postcode }}
        <input type="submit" name="some_name" value="Ask for it" id="some_name">
    </form>
{% endblock content %}

{% block page_scripts %}

<script type="text/javascript" charset="utf-8">
    setHomeView(map);
</script>

{% endblock page_scripts %}